<% include partials/header %>

<!-- Print/save image -->
<script type="text/javascript" src="/lib/jQuery.print.js"></script>
<script type="text/javascript" src="/js/imagePrint.js"></script>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container col-12 col-lg-8">
        <a class="navbar-brand" href="/">DeepDom</a>
        <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/upload"><i class="fas fa-upload"></i> Upload </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs"><i class="fas fa-search"></i> Search </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs/all"><i class="fas fa-list"></i> Status </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4"><span class="border-bottom border-dark p-1">DeepDom</span></h1>
        <p class="lead d-none d-sm-block">An ab-initio method for protein domain boundary prediction</p>
    </div>
</div>

<div class="container col-12 col-lg-8 ">
    <div class="btn-toolbar d-flex justify-content-start" role="toolbar" aria-label="Toolbar with button group">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <% var address = "/jobs/download/:" + file%>
            <a class="btn btn-secondary" href="<%= address%>">
                Download Result
            </a>
        </div>

        <div class="btn-group mt-4 mt-sm-0" role="group" aria-label="Second group">
            <select class="selectpicker show-tick" multiple data-actions-box="true" data-size="5"
                data-style="btn-primary" data-width="300px" data-live-search="true"
                title="Choose one of the following...">
                <% for (var i = 0; i < names.length; i++) {%>
                <option value="<%= i%>"> <%= names[i]%></option>
                <% } %>
            </select>
        </div>
    </div>
</div>

<div id="mainContainer" class="container border rounded shadow-lg mt-4 pt-3 mx-auto col-12 col-lg-8 "></div>

<div id="box" class="box">
    <div class="box-in"></div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="barList" class="list-group"></div>
</div>
<div id="sidebarBtn" class="sidebarBtn" onclick="toggleNav()">
    <div class="barBtn-in"></div>
</div>

<script>
    window.onload = function () {
    };

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    var tmpScore = "<%= scores %>";
    score = tmpScore.split(',');
    for (var i = 0; i < score.length; i++) {
        score[i] = score[i].trim().split(' ');
        for (var j = 0; j < score[i].length; j++) {
            score[i][j] = parseFloat(score[i][j]);
        }
    }
    // console.log(score);

    var tmpNames = "<%= names %>";
    var names = tmpNames.split(',');
    for (var i = 0; i < names.length; i++) {
        names[i] = '>' + names[i].substring(4);
    }
    // console.log(names);

    var tmpSeq = "<%= seq %>";
    var seq = tmpSeq.split(',');
    // console.log(seq);

    var jobId = "<%= jobId %>";
    // console.log(jobId);

    var mainContainer = document.querySelector('#mainContainer');
    var sideNav = document.querySelector('.sidenav');
    var navCopy = sideNav.innerHTML;

    var threshold = 0.42;
    window.myline = [];

    $(".selectpicker").change(function () {
        var idList = $(".selectpicker").val();
        // console.log(idList);

        mainContainer.innerHTML = "";

        sideNav.innerHTML = navCopy;
        $('[data-toggle="popover"]').popover();

        for (var i = 0; i < idList.length; i++) {

            var id = idList[i];

            var container = document.createElement("container");

            // ===========================
            // create a head for each query
            // click to show sequence
            // ===========================
            var queryHead = document.createElement("div");
            container.appendChild(queryHead);
            queryHead.classList.add("alert");
            queryHead.classList.add("text-center");
            queryHead.classList.add("alert-primary");
            queryHead.textContent = names[id] + " (click to show sequence)";
            queryHead.setAttribute("id", "query_header_" + id);
            queryHead.setAttribute("data-toggle", "popover");
            queryHead.setAttribute("data-placement", "top");
            var seqData = "";
            for (var k = 0; k < score[id].length; k++)
                if (seq[id][k] !== '-')
                    seqData += seq[id][k];
            queryHead.setAttribute("data-content", seqData);
            queryHead.onclick = function () {
                var cur = parseInt(this.id.substring(13));
                var tmp = document.getElementById("query_header_" + cur);
                if (tmp.textContent == names[cur] + " (click to show sequence)"){
                    tmp.classList.remove("alert-primary");
                    tmp.classList.add("alert-warning");
                    tmp.textContent = names[cur] + " (click to unshow sequence)";
                }
                else{
                    tmp.classList.remove("alert-warning");
                    tmp.classList.add("alert-primary");
                    tmp.textContent = names[cur] + " (click to show sequence)";
                }
            }


            // ==============================
            // Create SCOP Collapse Components
            // ==============================
            var scopCard = document.createElement("div");
            container.appendChild(scopCard);
            scopCard.classList.add("card");
            scopCard.classList.add("mt-2");

            var scopHeader = document.createElement("div");
            scopCard.appendChild(scopHeader);
            scopHeader.classList.add("card-header");
            scopHeader.setAttribute("id", "scop_heading_" + id);

            var scopHeaderH2 = document.createElement("h2");
            scopHeader.appendChild(scopHeaderH2);
            scopHeaderH2.classList.add("mb-0");

            var scopbutton = document.createElement("button");
            scopHeaderH2.appendChild(scopbutton);
            scopbutton.classList.add("btn");
            scopbutton.classList.add("btn-link");
            scopbutton.setAttribute("data-toggle", "collapse");
            scopbutton.setAttribute("data-target", "#scop_" + id);
            scopbutton.textContent = "SCOP";

            var scopContent = document.createElement("div");
            scopCard.appendChild(scopContent);
            scopContent.classList.add("collapse");
            scopContent.setAttribute("id", "scop_" + id);

            var scopContentBody = document.createElement("div");
            scopContent.appendChild(scopContentBody);
            scopContentBody.classList.add("card-body");
            scopContentBody.setAttribute("id", "scop_content_" + id);

            var scopURL = "/process/scop/:" + jobId;
            var scopData = { queryId: id };
            $.post(scopURL, scopData, function (data, status) {
                // console.log(data);
                if (data.superfamily.length == 0 || data == undefined) {

                }
                else {
                    var cur = data.numberId;
                    var card = document.getElementById("scop_content_" + cur);

                    // Generate colors for different familys
                    var r = [];
                    var g = [];
                    var b = [];
                    for (var k = 0; k < data.superfamily.length; k++) {
                        r.push(Math.floor(Math.random() * 255));
                        g.push(Math.floor(Math.random() * 255));
                        b.push(Math.floor(Math.random() * 255));
                    }

                    // Create a svg line graph
                    var svglength = mainContainer.clientWidth * 0.95;

                    var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                    card.appendChild(svg);
                    svg.setAttribute("width", svglength);
                    svg.setAttribute("height", "50");

                    var line = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                    svg.appendChild(line);
                    line.setAttribute("x", 0);
                    line.setAttribute("y", 15);
                    line.setAttribute("width", svglength);
                    line.setAttribute("height", 2);
                    line.setAttribute("style", "fill: rgb(187, 187, 187);");

                    for (var k = 0; k < data.superfamily.length; k++) {
                        for (var x = 0; x < data.seg[k].length / 2; x++) {
                            var rect = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                            svg.appendChild(rect);
                            rect.setAttribute("y", 5);
                            rect.setAttribute("height", 20);
                            rect.setAttribute("rx", 2);
                            rect.setAttribute("ry", 2);

                            //  cur: No. seq
                            //  k: No. family
                            //  data.seg[k].length / 2: the number of seg rects in current family
                            //  x: No. seg rect in current family
                            rect.setAttribute("id", "rect_family_" + cur + "_" + k + "_" + data.seg[k].length / 2 + "_" + x);
                            rect.onmouseover = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                var curtotal = parseInt(tmpid[4])
                                for (var l = 0; l < curtotal; l++) {
                                    document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + l).classList.add("rect-hover");
                                }
                                document.getElementById("table_family_" + curid + "_" + curk + "_" + curtotal).classList.add("table-hover");
                            }
                            rect.onmouseleave = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                var curtotal = parseInt(tmpid[4])
                                for (var l = 0; l < curtotal; l++) {
                                    document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + l).classList.remove("rect-hover");
                                }
                                document.getElementById("table_family_" + curid + "_" + curk + "_" + curtotal).classList.remove("table-hover");
                            }

                            var start = data.seg[k][2 * x];
                            var end = data.seg[k][2 * x + 1];
                            var l = score[cur].length;

                            rect.setAttribute("x", start / l * svglength);
                            rect.setAttribute("width", (end - start) / l * svglength);

                            rect.setAttribute("style", "fill: rgb(" + r[k] + ", " + g[k] + ", " + b[k] + ");opacity: 0.8;");
                        }
                    }

                    // Create the result table
                    var table = document.createElement("table");
                    table.classList.add("table");
                    card.appendChild(table);

                    var thead = document.createElement("thead");
                    var theadtr = document.createElement("tr");
                    var th1 = document.createElement("th");
                    th1.setAttribute("scope", "col");
                    th1.textContent = '#';
                    theadtr.appendChild(th1);
                    var th2 = document.createElement("th");
                    th2.setAttribute("scope", "col");
                    th2.textContent = 'Superfamily';
                    theadtr.appendChild(th2);
                    var th3 = document.createElement("th");
                    th3.setAttribute("scope", "col");
                    th3.textContent = 'E-value';
                    theadtr.appendChild(th3);
                    var th4 = document.createElement("th");
                    th4.setAttribute("scope", "col");
                    th4.textContent = 'Family';
                    theadtr.appendChild(th4);
                    var th5 = document.createElement("th");
                    th5.setAttribute("scope", "col");
                    th5.textContent = 'E-value';
                    theadtr.appendChild(th5);
                    var th6 = document.createElement("th");
                    th6.setAttribute("scope", "col");
                    th6.textContent = 'Segments';
                    theadtr.appendChild(th6);
                    thead.appendChild(theadtr);
                    table.appendChild(thead);

                    var tbody = document.createElement("tbody");
                    table.appendChild(tbody);
                    for (var k = 0; k < data.superfamily.length; k++) {
                        var tbodytr = document.createElement("tr");
                        tbody.appendChild(tbodytr);
                        // cur: No. seq
                        // k: No. family
                        // data.seg[k].length / 2: the numbe of seg rects in current family
                        tbodytr.setAttribute("id", "table_family_" + cur + "_" + k + "_" + data.seg[k].length / 2);
                        tbodytr.onmouseover = function () {
                            var tmpid = this.id.split("_");
                            var curid = parseInt(tmpid[2]);
                            var curk = parseInt(tmpid[3]);
                            var curtotal = parseInt(tmpid[4])
                            this.classList.add("table-hover");
                            for (var x = 0; x < curtotal; x++) {
                                document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + x).classList.add("rect-hover");
                            }
                        }
                        tbodytr.onpointerleave = function () {
                            var tmpid = this.id.split("_");
                            var curid = parseInt(tmpid[2]);
                            var curk = parseInt(tmpid[3]);
                            var curtotal = parseInt(tmpid[4])
                            this.classList.remove("table-hover");
                            for (var x = 0; x < curtotal; x++) {
                                document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + x).classList.remove("rect-hover");
                            }
                        }


                        var tbodyth = document.createElement("th");
                        tbodytr.appendChild(tbodyth);
                        tbodyth.setAttribute("scope", "row");

                        var colorbox = document.createElement("span");
                        tbodyth.appendChild(colorbox);
                        colorbox.classList.add("color-box");
                        colorbox.setAttribute("style", "background-color: " + "rgb(" + r[k] + ", " + g[k] + ", " + b[k] + ");");

                        var td1 = document.createElement("td");
                        tbodytr.appendChild(td1);
                        td1.textContent = data.superfamily[k];
                        var td2 = document.createElement("td");
                        tbodytr.appendChild(td2);
                        td2.textContent = data.supeval[k];
                        var td3 = document.createElement("td");
                        tbodytr.appendChild(td3);
                        td3.textContent = data.family[k];
                        var td4 = document.createElement("td");
                        tbodytr.appendChild(td4);
                        td4.textContent = data.fameval[k];
                        var td5 = document.createElement("td");
                        tbodytr.appendChild(td5);
                        for (var x = 0; x < data.seg[k].length / 2; x++) {
                            td5.textContent += data.seg[k][2 * x] + '~' + data.seg[k][2 * x + 1];
                            if (x != data.seg[k].length / 2 - 1) td5.textContent += " | ";
                        }
                    }
                }

            })

            // ===============================
            // Create CATH Collapse Components
            // ===============================




            // ============================================================
            // ============================================================
            // ============================================================
            // ============================================================
            // ============================================================
            // ============================================================
            // ============================================================

            //Add a Button to show a popover with sequence
            var d = document.createElement('div');
            d.classList.add("row");

            var btn = document.createElement("button");
            btn.setAttribute("type", "button");
            btn.classList.add("btn");
            btn.classList.add("btn-secondary");
            btn.classList.add("btn-sm");
            btn.classList.add("ml-3");
            btn.textContent = "Show sequence";
            btn.setAttribute("data-toggle", "popover");
            btn.setAttribute("data-placement", "right");
            btn.setAttribute("id", "seqBtn" + id);
            // var seqData = "";
            // for (var k = 0; k < score[id].length; k++)
            //     if (seq[id][k] !== '-')
            //         seqData += seq[id][k];
            // btn.setAttribute("data-content", seqData);
            // btn.onclick = function () {
            //     var cur = parseInt(this.id.substring(6));
            //     var tmp = document.getElementById("seqBtn" + cur);
            //     tmp.textContent = tmp.textContent == "Show sequence" ? "Hide sequence" : "Show sequence";
            // }
            d.appendChild(btn);
            container.appendChild(d);

            var scanBtnToolbar = document.createElement("div");
            scanBtnToolbar.classList.add("btn-toolbar");
            scanBtnToolbar.classList.add("mt-2");
            scanBtnToolbar.classList.add("float-left");
            scanBtnToolbar.setAttribute("role", "toolbar");
            container.appendChild(scanBtnToolbar);

            var supfamBtnSet = document.createElement("div");
            scanBtnToolbar.appendChild(supfamBtnSet);
            supfamBtnSet.classList.add("btn-group");
            supfamBtnSet.classList.add("btn-group-sm");
            supfamBtnSet.classList.add("mr-2");
            supfamBtnSet.setAttribute("role", "group");

            var gene3dBtnSet = document.createElement("div");
            scanBtnToolbar.appendChild(gene3dBtnSet);
            gene3dBtnSet.classList.add("btn-group");
            gene3dBtnSet.classList.add("btn-group-sm");
            gene3dBtnSet.setAttribute("role", "group");

            // Add a button to start hmmer scan in superfamily
            var btnSupfam = document.createElement('button');
            btnSupfam.classList.add("btn");
            btnSupfam.classList.add("btn-secondary");
            btnSupfam.setAttribute("type", "button");
            btnSupfam.setAttribute("id", "hmmscan_supfam" + id);
            btnSupfam.onclick = function () {
                var cur = parseInt(this.id.substring(14));
                var seqscanData = "";
                for (var k = 0; k < score[cur].length; k++)
                    if (seq[cur][k] !== '-')
                        seqscanData += seq[cur][k];
                const scanData = { seq: seqscanData, name: names[cur] + "_NUMBER_" + cur };
                const scanURL = "/process/hmmscan/superfamily";

                var tmpBtn = document.getElementById("hmmscan_supfam" + cur);
                tmpBtn.setAttribute("disabled", "");
                tmpBtn.textContent = "";
                var spinner = document.createElement("div");
                tmpBtn.appendChild(spinner);
                spinner.classList.add("spinner-grow");
                spinner.classList.add("spinner-grow-sm");
                var span = document.createElement("span");
                spinner.appendChild(span);
                span.classList.add("sr-only");

                $.post(scanURL, scanData, function (data, status) {
                    tmpBtn.textContent = "Superfamily";
                    if (data.superfamily.length == 0) {
                        document.getElementById("family" + cur).innerText = "No Result";
                    }
                    else if (data == undefined) {
                        tmpBtn.removeAttribute("disabled");
                        alert("Server is busy. Please try again in few seconds!");
                    }
                    else {
                        document.getElementById("family" + cur).removeAttribute("disabled");

                        var card = document.getElementById("cardfamily" + cur);

                        var h3 = document.createElement("h3");
                        card.appendChild(h3);
                        h3.textContent = "Superfamily"

                        // Generate colors for different familys
                        var r = [];
                        var g = [];
                        var b = [];
                        for (var k = 0; k < data.superfamily.length; k++) {
                            r.push(Math.floor(Math.random() * 255));
                            g.push(Math.floor(Math.random() * 255));
                            b.push(Math.floor(Math.random() * 255));
                        }

                        // Create a svg line graph
                        var svglength = mainContainer.clientWidth * 0.95;

                        var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                        card.appendChild(svg);
                        svg.setAttribute("width", svglength);
                        svg.setAttribute("height", "50");

                        var line = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                        svg.appendChild(line);
                        line.setAttribute("x", 0);
                        line.setAttribute("y", 15);
                        line.setAttribute("width", svglength);
                        line.setAttribute("height", 2);
                        line.setAttribute("style", "fill: rgb(187, 187, 187);");

                        for (var k = 0; k < data.superfamily.length; k++) {
                            for (var x = 0; x < data.seg[k].length / 2; x++) {
                                var rect = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                                svg.appendChild(rect);
                                rect.setAttribute("y", 5);
                                rect.setAttribute("height", 20);
                                rect.setAttribute("rx", 2);
                                rect.setAttribute("ry", 2);

                                //  cur: No. seq
                                //  k: No. family
                                //  data.seg[k].length / 2: the number of seg rects in current family
                                //  x: No. seg rect in current family
                                rect.setAttribute("id", "rect_family_" + cur + "_" + k + "_" + data.seg[k].length / 2 + "_" + x);
                                rect.onmouseover = function () {
                                    var tmpid = this.id.split("_");
                                    var curid = parseInt(tmpid[2]);
                                    var curk = parseInt(tmpid[3]);
                                    var curtotal = parseInt(tmpid[4])
                                    for (var l = 0; l < curtotal; l++) {
                                        document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + l).classList.add("rect-hover");
                                    }
                                    document.getElementById("table_family_" + curid + "_" + curk + "_" + curtotal).classList.add("table-hover");
                                }
                                rect.onmouseleave = function () {
                                    var tmpid = this.id.split("_");
                                    var curid = parseInt(tmpid[2]);
                                    var curk = parseInt(tmpid[3]);
                                    var curtotal = parseInt(tmpid[4])
                                    for (var l = 0; l < curtotal; l++) {
                                        document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + l).classList.remove("rect-hover");
                                    }
                                    document.getElementById("table_family_" + curid + "_" + curk + "_" + curtotal).classList.remove("table-hover");
                                }

                                var start = data.seg[k][2 * x];
                                var end = data.seg[k][2 * x + 1];
                                var l = seqscanData.length;

                                rect.setAttribute("x", start / l * svglength);
                                rect.setAttribute("width", (end - start) / l * svglength);

                                rect.setAttribute("style", "fill: rgb(" + r[k] + ", " + g[k] + ", " + b[k] + ");opacity: 0.8;");
                            }
                        }


                        // Create the result table
                        var table = document.createElement("table");
                        table.classList.add("table");
                        card.appendChild(table);

                        var thead = document.createElement("thead");
                        var theadtr = document.createElement("tr");
                        var th1 = document.createElement("th");
                        th1.setAttribute("scope", "col");
                        th1.textContent = '#';
                        theadtr.appendChild(th1);
                        var th2 = document.createElement("th");
                        th2.setAttribute("scope", "col");
                        th2.textContent = 'Superfamily';
                        theadtr.appendChild(th2);
                        var th3 = document.createElement("th");
                        th3.setAttribute("scope", "col");
                        th3.textContent = 'E-value';
                        theadtr.appendChild(th3);
                        var th4 = document.createElement("th");
                        th4.setAttribute("scope", "col");
                        th4.textContent = 'Family';
                        theadtr.appendChild(th4);
                        var th5 = document.createElement("th");
                        th5.setAttribute("scope", "col");
                        th5.textContent = 'E-value';
                        theadtr.appendChild(th5);
                        var th6 = document.createElement("th");
                        th6.setAttribute("scope", "col");
                        th6.textContent = 'Segments';
                        theadtr.appendChild(th6);
                        thead.appendChild(theadtr);
                        table.appendChild(thead);

                        var tbody = document.createElement("tbody");
                        table.appendChild(tbody);
                        for (var k = 0; k < data.superfamily.length; k++) {
                            var tbodytr = document.createElement("tr");
                            tbody.appendChild(tbodytr);
                            // cur: No. seq
                            // k: No. family
                            // data.seg[k].length / 2: the numbe of seg rects in current family
                            tbodytr.setAttribute("id", "table_family_" + cur + "_" + k + "_" + data.seg[k].length / 2);
                            tbodytr.onmouseover = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                var curtotal = parseInt(tmpid[4])
                                this.classList.add("table-hover");
                                for (var x = 0; x < curtotal; x++) {
                                    document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + x).classList.add("rect-hover");
                                }
                            }
                            tbodytr.onpointerleave = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                var curtotal = parseInt(tmpid[4])
                                this.classList.remove("table-hover");
                                for (var x = 0; x < curtotal; x++) {
                                    document.getElementById("rect_family_" + curid + "_" + curk + "_" + curtotal + "_" + x).classList.remove("rect-hover");
                                }
                            }


                            var tbodyth = document.createElement("th");
                            tbodytr.appendChild(tbodyth);
                            tbodyth.setAttribute("scope", "row");

                            var colorbox = document.createElement("span");
                            tbodyth.appendChild(colorbox);
                            colorbox.classList.add("color-box");
                            colorbox.setAttribute("style", "background-color: " + "rgb(" + r[k] + ", " + g[k] + ", " + b[k] + ");");

                            var td1 = document.createElement("td");
                            tbodytr.appendChild(td1);
                            td1.textContent = data.superfamily[k];
                            var td2 = document.createElement("td");
                            tbodytr.appendChild(td2);
                            td2.textContent = data.supeval[k];
                            var td3 = document.createElement("td");
                            tbodytr.appendChild(td3);
                            td3.textContent = data.family[k];
                            var td4 = document.createElement("td");
                            tbodytr.appendChild(td4);
                            td4.textContent = data.fameval[k];
                            var td5 = document.createElement("td");
                            tbodytr.appendChild(td5);
                            for (var x = 0; x < data.seg[k].length / 2; x++) {
                                td5.textContent += data.seg[k][2 * x] + '~' + data.seg[k][2 * x + 1];
                                if (x != data.seg[k].length / 2 - 1) td5.textContent += " | ";
                            }
                        }
                    }

                });
            };
            btnSupfam.textContent = "Superfamily";
            supfamBtnSet.appendChild(btnSupfam);

            // Add a button to show the superfamily result 
            var btnFamily = document.createElement('button');
            btnFamily.classList.add("btn");
            btnFamily.classList.add("btn-secondary");
            btnFamily.setAttribute("type", "button");
            btnFamily.setAttribute("data-toggle", "collapse");
            btnFamily.setAttribute("data-target", "#familyCollapse" + id);
            btnFamily.setAttribute("id", "family" + id);
            btnFamily.setAttribute("disabled", "");
            btnFamily.textContent = "Show";
            btnFamily.onclick = function () {
                var cur = parseInt(this.id.substring(6));
                var tmp = document.getElementById("family" + cur);
                tmp.textContent = tmp.textContent == "Show" ? "Hide" : "Show";
            }
            supfamBtnSet.appendChild(btnFamily);


            // Add a button to start hmmer scan in gene3D db
            var btn3d = document.createElement('button');
            btn3d.classList.add("btn");
            btn3d.classList.add("btn-secondary");
            btn3d.setAttribute("type", "button");
            btn3d.setAttribute("id", "hmmscan_3d" + id);
            btn3d.onclick = function () {
                var cur = parseInt(this.id.substring(10));
                var seqscanData = "";
                for (var k = 0; k < score[cur].length; k++)
                    if (seq[cur][k] !== '-')
                        seqscanData += seq[cur][k];
                const scanData = { seq: seqscanData, name: names[cur] + "_NUMBER_" + cur };
                const scanURL = "/process/hmmscan/3d";

                var tmpBtn = document.getElementById("hmmscan_3d" + cur);
                tmpBtn.setAttribute("disabled", "");
                tmpBtn.textContent = "";
                var spinner = document.createElement("div");
                tmpBtn.appendChild(spinner);
                spinner.classList.add("spinner-grow");
                spinner.classList.add("spinner-grow-sm");
                var span = document.createElement("span");
                spinner.appendChild(span);
                span.classList.add("sr-only");

                $.post(scanURL, scanData, function (data, status) {
                    tmpBtn.textContent = "Gene3D";
                    if (data.id.length == 0) {
                        document.getElementById("gene_result" + cur).innerText = "No Result";
                    }
                    else if (data == undefined) {
                        tmpBtn.removeAttribute("disabled");
                        alert("Server is busy. Please try again in few seconds!");
                    }
                    else {
                        document.getElementById("gene_result" + cur).removeAttribute("disabled");
                        var card = document.getElementById("card3d" + cur);

                        var h3 = document.createElement("h3");
                        card.appendChild(h3);
                        h3.textContent = "Gene3D"

                        // Generate colors for different familys
                        var r = [];
                        var g = [];
                        var b = [];
                        for (var k = 0; k < data.id.length; k++) {
                            r.push(Math.floor(Math.random() * 255));
                            g.push(Math.floor(Math.random() * 255));
                            b.push(Math.floor(Math.random() * 255));
                        }


                        // Create a svg line graph
                        var svglength = mainContainer.clientWidth * 0.95;

                        var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                        card.appendChild(svg);
                        svg.setAttribute("width", svglength);
                        svg.setAttribute("height", "50");

                        var line = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                        svg.appendChild(line);
                        line.setAttribute("x", 0);
                        line.setAttribute("y", 15);
                        line.setAttribute("width", svglength);
                        line.setAttribute("height", 2);
                        line.setAttribute("style", "fill: rgb(187, 187, 187);");

                        for (var k = 0; k < data.id.length; k++) {
                            var rect = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                            svg.appendChild(rect);
                            rect.setAttribute("y", 5);
                            rect.setAttribute("height", 20);
                            rect.setAttribute("rx", 2);
                            rect.setAttribute("ry", 2);
                            rect.setAttribute("id", "rect_gene3d_" + cur + "_" + k);
                            rect.onmouseover = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                this.classList.add("rect-hover");
                                document.getElementById("table_gene3d_" + curid + "_" + curk).classList.add("table-hover");
                            }
                            rect.onmouseleave = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                this.classList.remove("rect-hover");
                                document.getElementById("table_gene3d_" + curid + "_" + curk).classList.remove("table-hover");
                            }

                            var start = data.region[k][0];
                            var end = data.region[k][1];
                            var l = seqscanData.length;

                            rect.setAttribute("x", start / l * svglength);
                            rect.setAttribute("width", (end - start) / l * svglength);

                            rect.setAttribute("style", "fill: rgb(" + r[k] + ", " + g[k] + ", " + b[k] + ");opacity: 0.8;");
                        }

                        // Create the result table
                        var table = document.createElement("table");
                        table.classList.add("table");
                        card.appendChild(table);

                        var thead = document.createElement("thead");
                        var theadtr = document.createElement("tr");
                        var th1 = document.createElement("th");
                        th1.setAttribute("scope", "col");
                        th1.textContent = '#';
                        theadtr.appendChild(th1);
                        var th2 = document.createElement("th");
                        th2.setAttribute("scope", "col");
                        th2.textContent = 'Id';
                        theadtr.appendChild(th2);
                        var th3 = document.createElement("th");
                        th3.setAttribute("scope", "col");
                        th3.textContent = 'Accession';
                        theadtr.appendChild(th3);
                        var th4 = document.createElement("th");
                        th4.setAttribute("scope", "col");
                        th4.textContent = 'Description';
                        theadtr.appendChild(th4);
                        var th5 = document.createElement("th");
                        th5.setAttribute("scope", "col");
                        th5.textContent = 'Region';
                        theadtr.appendChild(th5);
                        var th6 = document.createElement("th");
                        th6.setAttribute("scope", "col");
                        th6.textContent = 'start';
                        theadtr.appendChild(th6);
                        var th7 = document.createElement("th");
                        th7.setAttribute("scope", "col");
                        th7.textContent = 'end';
                        theadtr.appendChild(th7);
                        var th8 = document.createElement("th");
                        th8.setAttribute("scope", "col");
                        th8.textContent = 'Ind. E-values';
                        theadtr.appendChild(th8);
                        var th9 = document.createElement("th");
                        th9.setAttribute("scope", "col");
                        th9.textContent = 'Cond. E-values';
                        theadtr.appendChild(th9);

                        thead.appendChild(theadtr);
                        table.appendChild(thead);

                        var tbody = document.createElement("tbody");
                        table.appendChild(tbody);
                        for (var k = 0; k < data.id.length; k++) {
                            var tbodytr = document.createElement("tr");
                            tbody.appendChild(tbodytr);
                            tbodytr.setAttribute("id", "table_gene3d_" + cur + "_" + k);
                            tbodytr.onmouseover = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                this.classList.add("table-hover");
                                document.getElementById("rect_gene3d_" + curid + "_" + curk).classList.add("rect-hover");
                            }
                            tbodytr.onpointerleave = function () {
                                var tmpid = this.id.split("_");
                                var curid = parseInt(tmpid[2]);
                                var curk = parseInt(tmpid[3]);
                                this.classList.remove("table-hover");
                                document.getElementById("rect_gene3d_" + curid + "_" + curk).classList.remove("rect-hover");
                            }

                            var tbodyth = document.createElement("th");
                            tbodytr.appendChild(tbodyth);
                            tbodyth.setAttribute("scope", "row");

                            var colorbox = document.createElement("span");
                            tbodyth.appendChild(colorbox);
                            colorbox.classList.add("color-box");
                            colorbox.setAttribute("style", "background-color: " + "rgb(" + r[k] + ", " + g[k] + ", " + b[k] + ");");

                            var td1 = document.createElement("td");
                            tbodytr.appendChild(td1);
                            td1.textContent = data.id[k];
                            var td2 = document.createElement("td");
                            tbodytr.appendChild(td2);
                            td2.textContent = data.accession[k];
                            var td3 = document.createElement("td");
                            tbodytr.appendChild(td3);
                            td3.textContent = data.desciption[k];
                            var td4 = document.createElement("td");
                            tbodytr.appendChild(td4);
                            td4.textContent = data.region[k][0] + "~" + data.region[k][1];
                            var td5 = document.createElement("td");
                            tbodytr.appendChild(td5);
                            td5.textContent = data.start[k];
                            var td6 = document.createElement("td");
                            tbodytr.appendChild(td6);
                            td6.textContent = data.end[k];
                            var td7 = document.createElement("td");
                            tbodytr.appendChild(td7);
                            td7.textContent = data.indeval[k];
                            var td8 = document.createElement("td");
                            tbodytr.appendChild(td8);
                            td8.textContent = data.condval[k];
                        }
                    }
                });
            }
            btn3d.textContent = "Gene3D";
            gene3dBtnSet.appendChild(btn3d);

            // Add a button to show the 3d result 
            var btn3dresult = document.createElement('button');
            btn3dresult.classList.add("btn");
            btn3dresult.classList.add("btn-secondary");
            btn3dresult.setAttribute("type", "button");
            btn3dresult.setAttribute("data-toggle", "collapse");
            btn3dresult.setAttribute("data-target", "#geneCollapse" + id);
            btn3dresult.setAttribute("id", "gene_result" + id);
            btn3dresult.setAttribute("disabled", "");
            btn3dresult.textContent = "Show";
            btn3dresult.onclick = function () {
                var cur = parseInt(this.id.substring(11));
                var tmp = document.getElementById("gene_result" + cur);
                tmp.textContent = tmp.textContent == "Show" ? "Hide" : "Show";
            }
            gene3dBtnSet.appendChild(btn3dresult);

            //////////////////////////////////////////////////
            //Add reset-zoom, pan-switch, drag-switch, print button
            var chartBtnSet = document.createElement('div');
            chartBtnSet.classList.add("btn-group");
            chartBtnSet.classList.add("btn-group-sm");
            chartBtnSet.classList.add("float-right");
            chartBtnSet.classList.add("mt-2");

            var btnReset = document.createElement('button');
            btnReset.classList.add("btn");
            btnReset.classList.add("btn-secondary");
            btnReset.setAttribute("type", "button");
            btnReset.setAttribute("id", "resetZoom" + id);
            btnReset.onclick = function () {
                var cur = parseInt(this.id.substring(9));
                window.myline[cur].resetZoom();
            };
            btnReset.textContent = "Reset Zoom";

            var btnPan = document.createElement('button');
            btnPan.classList.add("btn");
            btnPan.classList.add("btn-secondary");
            btnPan.setAttribute("type", "button");
            btnPan.setAttribute("id", "pan-switch" + id);
            btnPan.onclick = function () {
                var cur = parseInt(this.id.substring(10));

                var chart = window.myline[cur];
                // console.log(chart.canvas);
                var panOptions = chart.options.plugins.zoom;
                panOptions.pan.enabled = !panOptions.pan.enabled;

                var zoomOptions = chart.options.plugins.zoom.zoom;
                if (panOptions.pan.enabled && zoomOptions.drag) zoomOptions.drag = !zoomOptions.drag;

                chart.update();
                document.getElementById('drag-switch' + cur).innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
                document.getElementById('pan-switch' + cur).innerText = panOptions.pan.enabled ? 'Disable Pan' : 'Enable Pan';
            };
            btnPan.textContent = "Disable Pan";

            var btnDrag = document.createElement('button');
            btnDrag.classList.add("btn");
            btnDrag.classList.add("btn-secondary");
            btnDrag.setAttribute("type", "button");
            btnDrag.setAttribute("id", "drag-switch" + id);
            btnDrag.onclick = function () {
                var cur = parseInt(this.id.substring(11));

                var chart = window.myline[cur];
                var zoomOptions = chart.options.plugins.zoom.zoom;
                zoomOptions.drag = !zoomOptions.drag;

                var panOptions = chart.options.plugins.zoom;
                if (panOptions.pan.enabled && zoomOptions.drag) panOptions.pan.enabled = !panOptions.pan.enabled;
                if (!panOptions.pan.enabled && !zoomOptions.drag) panOptions.pan.enabled = !panOptions.pan.enabled;

                chart.update();
                document.getElementById('drag-switch' + cur).innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
                document.getElementById('pan-switch' + cur).innerText = panOptions.pan.enabled ? 'Disable Pan' : 'Enable Pan';
            };
            btnDrag.textContent = "Enable drag mode";

            var btnShot = document.createElement('button');
            btnShot.classList.add("btn");
            btnShot.classList.add("btn-secondary");
            btnShot.setAttribute("type", "button");
            btnShot.setAttribute("id", "screenShot" + id);
            btnShot.onclick = function () {
                var cur = parseInt(this.id.substring(10));

                var chart = window.myline[cur];

                printClip(chart.canvas, chart.options.title.text);

            };
            btnShot.textContent = "Print";

            chartBtnSet.appendChild(btnReset);
            chartBtnSet.appendChild(btnPan);
            chartBtnSet.appendChild(btnDrag);
            chartBtnSet.appendChild(btnShot);

            container.appendChild(chartBtnSet);

            //////////////////////////////////////////////////

            // draw chart
            var div = document.createElement("div");
            div.classList.add('chart-container');

            var canvas = document.createElement("canvas");
            div.appendChild(canvas);
            container.appendChild(div);

            var collapseDiv = document.createElement("div");
            collapseDiv.classList.add("collapse");
            collapseDiv.classList.add("multi-collapse");
            collapseDiv.classList.add("mb-4");
            collapseDiv.setAttribute("id", "familyCollapse" + id);
            var cardfamily = document.createElement("div");
            cardfamily.classList.add("card");
            cardfamily.classList.add("card-body");
            cardfamily.setAttribute("id", "cardfamily" + id);
            collapseDiv.appendChild(cardfamily);
            container.appendChild(collapseDiv);

            var collapseDiv2 = document.createElement("div");
            collapseDiv2.classList.add("collapse");
            collapseDiv2.classList.add("multi-collapse");
            collapseDiv2.classList.add("mb-4");
            collapseDiv2.setAttribute("id", "geneCollapse" + id);
            var card3d = document.createElement("div");
            card3d.classList.add("card");
            card3d.classList.add("card-body");
            card3d.setAttribute("id", "card3d" + id);
            collapseDiv2.appendChild(card3d);
            container.appendChild(collapseDiv2);

            var hr = document.createElement("hr");
            if (i < idList.length - 1) container.appendChild(hr);

            mainContainer.appendChild(container);

            ///////////////////////////////////////////////////
            var xAxis = [];
            for (var j = 0; j <= score[id].length; j++) xAxis[j] = j + " : " + seq[id][j];
            // for (var j = 0; j <= score[this.id].length; j++) xAxis[j] = j;

            var overScore = [];
            var belowScore = [];
            for (var j = 0; j <= score[id].length; j++) {
                if (score[id][j] <= threshold) {
                    overScore[j] = "NaN";
                    belowScore[j] = score[id][j];
                    if (j > 0 && belowScore[j - 1] == 'NaN') overScore[j] = score[id][j];
                }
                else {
                    overScore[j] = score[id][j];
                    belowScore[j] = "NaN";
                    if (j > 0 && overScore[j - 1] == 'NaN') overScore[j - 1] = belowScore[j - 1];
                }
            }

            var chartData = {
                labels: xAxis,
                datasets: [{
                    type: 'line',
                    label: 'Score',
                    borderColor: 'rgb(255,255,0)',
                    pointStyle: "star",
                    pointBorderColor: 'rgb(0,0,255)',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    fill: false,
                    lineTension: 0,
                    data: belowScore
                }, {
                    type: 'line',
                    label: 'Over Score',
                    borderColor: 'rgb(255,255,0)',
                    pointStyle: "star",
                    pointBorderColor: 'rgb(255,0,0)',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    fill: false,
                    lineTension: 0,
                    data: overScore
                }]
            }

            var ctx = canvas.getContext('2d');
            window.myline[id] = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: names[id]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            beforeLabel: function (tooltipItem, data) {
                                var beforeLabel = "Score: ";
                                beforeLabel += Math.round(tooltipItem.yLabel * 10000000) / 10000000;
                                if (Math.round(tooltipItem.yLabel * 10000000) / 10000000 >= threshold) beforeLabel += " (over)";
                                return beforeLabel;
                            },
                            label: function (tooltipItem, data) {
                                var label = "";
                                return label;
                            },
                            afterLabel: function (tooltipItem, data) {
                                var afterLabel = "";
                                for (var p = tooltipItem.index - 2; p < tooltipItem.index + 3; p++) {
                                    var ch = data.labels[p].substring(data.labels[p].indexOf(":") + 1);
                                    if (data.labels[p] == undefined) afterLabel += "- ";
                                    else if (p == tooltipItem.index) afterLabel += " '" + ch + " ' ";
                                    else afterLabel += ch + " ";
                                }
                                return afterLabel;
                            }
                        }
                    },
                    annotation: {
                        events: ["mouseover", "mouseout"],
                        annotations: [
                            {
                                id: "hline",
                                type: "line",
                                mode: "horizontal",
                                scaleID: "y-axis-0",
                                value: threshold,
                                borderColor: "black",
                                borderWidth: 5,
                                label: {
                                    backgroundColor: "red",
                                    content: "Threshold: " + threshold,
                                    enabled: false
                                },
                                onMouseover: function (e) {
                                    var element = this;
                                    element.options.borderWidth = 7;
                                    element.options.label.enabled = true;
                                    element.chartInstance.update();
                                    element.chartInstance.chart.canvas.style.cursor = 'pointer';
                                },
                                onMouseout: function (e) {
                                    var element = this;
                                    element.options.borderWidth = 4;
                                    element.chartInstance.update();
                                    setTimeout(function () {
                                        element.options.label.enabled = false;
                                        element.chartInstance.update();
                                    }, 0);
                                    element.chartInstance.chart.canvas.style.cursor = 'initial';
                                }
                            }]
                    }
                }
            })

            var chart = window.myline[id];
            var zoomOptions = chart.options.plugins.zoom.zoom;
            zoomOptions.enabled = !zoomOptions.enabled;
            // zoomOptions.drag = zoomOptions.drag;
            var panOptions = chart.options.plugins.zoom;
            panOptions.pan.enabled = !panOptions.pan.enabled;
            chart.update();
        }
        // enable each popover
        $('[data-toggle="popover"]').popover();


        //Add list to side bar
        var listGroup = document.getElementById("barList");
        for (var i = 0; i < idList.length; i++) {
            var id = idList[i];

            var a = document.createElement("button");
            a.textContent = names[id];
            a.classList.add("list-group-item");
            a.classList.add("list-group-item-action");
            a.classList.add("list-group-item-secondary");
            a.setAttribute("style", "font-size: 10px;");
            a.setAttribute("id", "goto" + id);
            a.onclick = function () {
                var cur = parseInt(this.id.substring(4));
                var element = document.querySelector("#resetZoom" + cur);
                var actualTop = element.offsetTop;
                var current = element.offsetParent;
                while (current !== null) {
                    actualTop += current.offsetTop;
                    current = current.offsetParent;
                }
                window.scrollTo({
                    top: actualTop - document.documentElement.clientHeight / 4,
                    behavior: "smooth"
                });
            };
            listGroup.appendChild(a);
        }

        // display the side bar or not
        var inside = document.getElementById("barList").innerHTML;
        if (inside.length > 0) document.getElementById("sidebarBtn").style.display = "block";
        else {
            document.getElementById("sidebarBtn").style.display = "none";
            document.getElementById("mySidenav").style.width = '0';
        }
    });

    // $('.reset-select').click(function () {
    //     $('.selectpicker').selectpicker('deselectAll');
    //     $('.selectpicker').selectpicker('refresh');
    // });

    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("box").style.display = "block";
        } else {
            document.getElementById("box").style.display = "none";
        }
    }

    box.onclick = function () {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }

    function toggleNav() {
        var width = document.getElementById("mySidenav").style.width;
        if (width == '15%') document.getElementById("mySidenav").style.width = '0';
        else document.getElementById("mySidenav").style.width = '15%';
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<style type="text/css">
    /* show sequence window style */
    .popover {
        max-width: 50%;
        /* background-color: #6c757d; */
    }

    .popover-body {
        color: black;
    }

    /* Return to Top Style */
    .box {
        display: none;
        position: fixed;
        right: 30px;
        bottom: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        padding-top: 20px;
        background-color: #6c757d;
        border-radius: 20%;
        overflow: hidden;
    }

    .box:hover:before {
        top: 50%
    }

    .box:hover .box-in {
        visibility: hidden;
    }

    .box:before {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: 'Top';
        width: 40px;
        color: white;
        font-weight: bold;

    }

    .box-in {
        visibility: visible;
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 3px solid black;
        border-color: white transparent transparent white;
        transform: rotate(45deg);
    }

    /* sideBar style */
    .sidebarBtn {
        display: none;
        position: fixed;
        left: 0;
        bottom: 50%;
        height: 50px;
        width: 30px;
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        background-color: #6c757d;
        border-radius: 20%;
        overflow: hidden;
    }

    .barBtn-in {
        visibility: visible;
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 3px solid white;
        border-color: white transparent transparent white;
        transform: rotate(135deg);
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #6c757d;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover,
    .offcanvas a:focus {
        color: black;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    .color-box {
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    .rect-hover {
        stroke-width: 2;
        stroke: black;
    }

    .table-hover {
        background: rgb(231, 209, 209);
        opacity: 0.8;
    }

    hr {
        size: 3;
        color: blue;
    }
</style>

<% include partials/footer%>